[Desktop Entry]
Encoding=UTF-8
Name=Yerbas Core
Comment=Yerbas P2P Cryptocurrency
Comment[de]=Verbinde mit dem Yerbas peer-to-peer Netzwerk
Comment[fr]=Yerbas, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Yerbas, eşten eşe kriptografik sanal para birimi
Exec=yerbas-qt %u
Terminal=false
Type=Application
Icon=yerbas128
MimeType=x-scheme-handler/yerbas;
Categories=Office;Finance;
